@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	src: local('Droid Sans'), local('DroidSans'), url(font/droidsans.woff) format('woff');
}
@font-face {
	font-family: 'DIN-Light';
	src: url('font/DIN-Light.eot');
	src: local('?'), url('font/DIN-Light.woff') format('woff'), url('font/DIN-Light.ttf') format('truetype'), url('font/DIN-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}
@font-face {
	font-family: 'DIN-Medium';
	src: url('font/DIN-Medium.eot');
	src: local('?'), url('font/DIN-Medium.woff') format('woff'), url('font/DIN-Medium.ttf') format('truetype'), url('font/DIN-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}