html, body {
	height: 100%; 
	width: 100%; 
	margin: 0;
}
html, #full-page-container{
	overflow: hidden;
}
body{
	font-family: Open Sans !important, Arial;
	margin: 0;
	padding: 0;
	font-size: 12px;
	background: #ffffff !important;
}
.site-content{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
.site-left, .site-right, .site-center{
	vertical-align: top;
}
.site-left{
	font-family: Open Sans !important, Arial;
	background-color: #f3f3f3;
	padding: 0;
}
.site-footer{
	font-size: 11px;
	text-align: center;
	padding: 5px 0;
	height: auto;
}
.site-center{
	padding: 0;
}
#center-content{
	overflow: auto;
}
#center-content .inner-padding{
	padding: 10px 6px 0 10px;
}
#leftbar-toggle-title{
	float: left; padding-left: 5px; padding-top: 3px;
}
#leftbar-content{
	font-size: 12px; overflow: auto; padding-top: 5px; padding-left: 15px;
}

/** Overide ExtJS 4.2.1 - Start **/

.x-body, .x-window-header-text-container-default, .x-field{
	font-family: Open Sans;
}
.x-form-item, .x-form-field, .x-datepicker-date{
	font-size: 12px !important;
	font-weight: normal !important;
	font-family: Open Sans;
}
.x-body{
	font-size: 12px !important;
}
.x-btn-default-toolbar-small .x-btn-inner{
	font-weight: normal !important;
	font-family: Open Sans;
}
.x-column-header, .x-grid-cell, .x-toolbar-text, .x-progress-default .x-progress-text, .x-form-trigger-wrap, .x-form-item-label{
	font-size: 12px !important;
	font-weight: normal !important;
	font-family: Open Sans;
}
.x-docked{
	z-index: 0;
}
.x-form-trigger-wrap{
	border: 1px solid #bfbfbf;
	-webkit-border-radius: 0;
}
.x-form-focus, .x-form-trigger-wrap-focus .x-form-trigger-wrap{
	border-color: #73CAEA;
}
/*
.x-grid-row-selected {
	background-color: #73CAEA;
	color: #ffffff;
}
*/
.x-progress-default .x-progress-bar-default{
	background-image:none;
	background-color:#73CAEA
}
.x-boundlist{
	border: 1px solid #bfbfbf;
}
.x-form-display-field{
	font:normal 12px Open Sans;
	color:black;
	margin-top:4px;
}
.x-mask{
	background-color: #343434;
}
.fix-x-multiline-msg{
	margin-top: 0;
}
.x-tool-after-title{
	margin-left : -1px !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.x-form-item-body {
		/*left: 2px;*/
	}
}

.x-search-label{
	background-color: #343434;
}

.x-trigger-cell {
    width: 23px;
}

.x-grid-with-row-lines .x-grid-td {
    border-bottom-width: 1px;
    vertical-align: top;
}

.x-form-text {
    padding: 3px;
    min-height: 26px;
}

.general-rule .x-grid-row-checker {
    left: -9999px !important;
    position: relative;
}

/** Overide ExtJS 4.2.1 - End **/

.hyperlink1, .hyperlink1:visited{
	text-decoration: none;
	color: #007696;
	cursor: pointer;
}
.hyperlink1:hover{
	text-decoration: underline;
	color: #73CAEA;
	cursor: pointer;
}
#bar-username{
	padding: .35em .6em;
}
#bar-username img{
	width: 24px;
	height: 24px;
}
#bar-username span{
	position: relative; top: -7px;
}
#bar-settings{
	padding: .35em .4em; 
	cursor: pointer;
	position: relative;
}
#bar-settings:hover{
	background: #73CAEA;
}
#bar-settings img{
	width: 24px;
	height: 24px;
	margin: auto;
}
.bar-settings-toggle{
	position: absolute;
	top: 39px;
	right: 0;
	height: auto;
	width: auto;
	min-width: 170px;
	border: 1px solid #CCCCCC;
	background: #ffffff;
	color: #000000;
	padding: 10px;
	text-align: left;
	font-size: 0.9em;
	display: none;
}
.bar-settings-toggle a{
	color: #000000;
	text-decoration: none;
	display: inline-block;
	padding: 8px 18px;
}
.bar-settings-toggle a:hover{
	background: #73CAEA;
	color: #ffffff;
	width: 100%;
}
.flat-header-ext{
	float: right; position: relative; z-index: 1;
}
.flat-header{
	font-family: Montserrat !important;
        color: #666;
	font-size: 16px; 
	background-color: #251F4F;
	height: 50px;
}
.flat-content-header{
	font-size: 16px; 
	font-family: Montserrat;
}

.flat-textarea{
	border: 1px solid #bfbfbf;
	font-size: 12px;
	font-family: Open Sans, Arial;
	min-width: 200px;
	min-height: 50px;
	resize: none;
	padding: 3px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.aa-bs .flat-textarea{
	border: 1px solid #bfbfbf;
	font-size: 12px;
	font-family: Open Sans, Arial;
	min-width: 208px;
	min-height: 58px;
	resize: none;
	padding: 3px;
        -webkit-appearance: none;
	-webkit-border-radius: 0;
        line-height: 16px;
}

.flat-textarea:hover, .flat-textarea:focus{
	border: 1px solid #73CAEA;
}
.flat-input{
	min-width: 200px;
	min-height: 18px;
	border: 1px solid #bfbfbf;
	font-size: 12px;
	font-family: Open Sans, Arial;
	padding: 3px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.aa-bs .flat-input{
	min-width: 208px;
	min-height: 26px;
	border: 1px solid #bfbfbf;
	font-size: 12px;
	font-family: Open Sans, Arial;
	padding: 3px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
        line-height: 16px;
}

.flat-input:hover, .flat-input:focus{
	border: 1px solid #73CAEA;
}
.flat-input2{
	min-width: 137px;
	border: 1px solid #bfbfbf;
	font-size: 12px;
	font-family: Open Sans, Arial;
	padding: 3px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.flat-input2:hover, .flat-input2:focus{
	border: 1px solid #73CAEA;
}
.flat-input3{
	min-width: 137px;
	border: 1px solid #bfbfbf;
	font-size: 12px;
	font-family: Open Sans, Arial;
	padding: 3px;
	margin-left: 3px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.flat-input3:hover, .flat-input3:focus{
	border: 1px solid #73CAEA;
}
.flat-selectbox{
	min-width: 208px;
        width: 208px;
	border: 1px solid #bfbfbf;
	padding: 3px;
	font-size: 12px;
	font-family: Open Sans, Arial;
	margin-left: 2px;
	-webkit-border-radius: 0;
}

.aa-bs .flat-selectbox{
	min-width: 208px;
        width: 208px;
	min-height: 26px;
        height:26px;
	border: 1px solid #bfbfbf;
	padding: 3px;
	font-size: 12px;
	font-family: Open Sans, Arial;
	-webkit-border-radius: 0;
        line-height: 16px;
}

.flat-selectbox2{
	min-width: 60px;	
	border: 1px solid #bfbfbf;
	padding: 2px;
	font-size: 12px;
	font-family: Open Sans, Arial;	
	-webkit-border-radius: 0;
}
.flat-checkbox{
	position: relative;
	top: -15px;
	left: 18px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.flat-checkbox2{
	position: relative;
	text-align: left;
	left: -4px;
	padding: 3px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.flat-checkbox3{
	position: relative;	
	top: -2px;	
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.flat-button-default{
	color: #ffffff;
	background-color: #251F4F;
        font-family: Open Sans;
	border: 0;
	padding: 3px 5px 3px 5px;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.flat-button-default:hover{
	background-color: #73CAEA;
}
.flat-button-default:active{
	background-color: #000000;
}
.flat-subbutton-default{
	color: #ffffff;
	text-align: left;
	background-color: #251F4F;
	border: 0;	
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.flat-subbutton-default:hover{
	background-color: #73CAEA;
}
.flat-subbutton-default:active{
	background-color: #000000;
}

.flat-subbutton2-default{
	color: #ffffff;
	text-align: left;
	background-color: #000000;
	border: 0;	
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.flat-subbutton2-default:hover{
	background-color: red;
}
.flat-subbutton2-default:active{
	background-color: #000000;
}

.tile-bed .tile-title{
        bottom: 0px;
	position:absolute;
        text-align: left;
}
.tile-bed .mainimg{
	margin-top: 10px;
	width: 80px;
	height: 80px;
}
.tile-bed .tile-container{
	position: relative; 
	width: 100%; 
	height: 140px; 
	background-color: #251F4F; 
	color: #ffffff;
	font-family: Montserrat !important;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	/*margin-left: -5px;*/
	/*margin-bottom: 10px;*/
	float: left;
	overflow:hidden;
}
.tile-bed .tile-container:hover{
	background-color: #73CAEA; 
}
.flat-simple-line{
	width: 100%;
	height: 2px;
	border-top: 1px solid #cccccc;
}
.sidebar-navigation{
	list-style-type: none;
	margin: 0;
	padding: 0 10px 0 10px;
}
.sidebar-navigation li{
	margin-bottom: 5px;
}
.sidebar-navigation a, .sidebar-navigation a:visited, .sidebar-navigation a:active{
	text-decoration: none;
	color: #007696;
	cursor: pointer;
}
.sidebar-navigation a:hover{
	text-decoration: underline;
	color: #73CAEA;
}
.insite-link{
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 0;
}
.insite-link li{
	margin-bottom: 5px;
}
.insite-link a, .insite-link a:visited, .insite-link a:active{
	text-decoration: none;
	color: #007696;
	cursor: pointer;
}
.insite-link a:hover{
	text-decoration: underline;
	color: #73CAEA;
}
.std-form table{
	width: 100%;
}
.std-form td{
	vertical-align: top;
}
.std-form .lbl-title{
	font-size: 14px;
	border-bottom: 1px solid #bfbfbf;
}
.std-form .form-spacer1{
	width: 50%; 
	padding-top: 10px;
}
.std-form .form-spacer-solo, .std-form .form-spacer-solo-edit{
	margin-top: 9px;
	width: 100%;
}
.std-form .form-spacer-solo .lbl-field{
	width: 24%;
}
.std-form .form-spacer-solo .lbl-gap{
	width: 1%;
}
.std-form .lbl-field{
	width: 49%;
	text-align: right;
}
.lbl-subfield{
	width: 49%;
	text-align: left;
}
.std-form .lbl-gap{
	width: 2%;
}
.std-form .form-spacer1 td, .std-form .form-spacer-solo td{
	line-height: 24px;
}

.std-form .aa-bs.form-spacer1 td, .std-form .aa-bs.form-spacer-solo td{
	line-height: 24px;
}

.std-form .aa-bs.form-spacer1 td input, .std-form .aa-bs.form-spacer-solo td input{
	line-height: initial;
}

.std-form .lbl-compulsory{
	color: red;
}
.std-form .compulsory-text{
	float: right;
	font-size: 12px;
}
.password-calc{
	width: 204px;
	height: 18px;
	padding: 4px 2px 4px 2px;
	overflow: hidden;
}
.password-inner{
	width: 204px;
	height: 3px;
	position: relative;
	top: 10px;
	overflow: hidden;
}
.password-bar{
	height: 3px;
	width: 0;
}
#leftbar-toggle-img{
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 9px;
}

#leftbar-toggle-img-hover{
	cursor: pointer;
}

#leftbar-toggle-img-navbar{
	cursor: pointer;
}

#sidebar-quick-search-icon{
	float: left;
	position: relative;
	left: -26px;
	top: 5px;
	z-index: 2;
	cursor: pointer;
}
.sidebar-quick-search{
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	float: left;
	min-width: 50px;
	padding: 3px 30px 3px 3px;
	font-family: Montserrat, Arial; 
	font-size: 16px;
	border: 1px solid #bfbfbf;
}
.sidebar-quick-search:hover, .sidebar-quick-search:focus{
	border: 1px solid #73CAEA;
}
.crumbs{
	position: relative;
	left: -10px;
}
.ext-empty-live-search{
	text-align: center; 
	color: red;
	padding: 3px;
}
#go-to-top{
	z-index: 998; position: absolute; bottom: 20px; right: 25px; display: none; cursor: pointer;
}
#edit-table .lbl-field{
	height: 20px;
}
.userform-profilepics{
	position: absolute; top: 10px; z-index: -1;
}
@media \0screen\,screen\9, screen\0{
	.flat-selectbox{margin-left: 0;}
} 
@-moz-document url-prefix() {
   .flat-selectbox{margin-left: 0;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* webkit specific CSS */
   .flat-header{height: 50px;}
   #leftbar-toggle-img{top: 10px;}
   #sidebar-quick-search-icon{top: 6px;}
}

/* fix tooltip error */
.x-tip-form-invalid, .x-tip-body-form-invalid {
    width: 150px !important;
}

/* custom row color for contact */
.project-row .x-grid-cell { 
    color: #007696; 
} 

/*activities info*/
.info-cell { 
   /* background: url(img/info-64.png) no-repeat 2px 1px; */
	background: url(img/info-64.png) no-repeat;
	background-size:16px 16px;
    /*padding-left: 16px; */
} 

.inner-grid-button{
	position: absolute;
    right: 2px;
    text-align: right;
	z-index: 99;
	cursor: pointer;
}

.inner-view-button{
    right: 2px;
	z-index: 99;
	cursor: pointer;
	float: right;
}

.inner-grid-text{
	position: relative;
	z-index: 999;
	cursor: pointer;
}

.system-form-alert{
	display: none;
	background: #251F4F;
	color: #FFFFFF;
	width: 500px;
	margin: auto;
	margin-bottom: 8px;
	padding: 10px 5px;
}
.system-form-alert-table{
	text-align: left;
}
.system-form-alert-logo{
	width: 8%;
	text-align: right;
	padding-right: 10px;
}
.report-odd{
	background-color: #FFFFFF;
}
.report-header, .report-footer{
	font:normal 12px Open Sans;
	line-height: 20px;
}
.report-header{	
	color: #FFFFFF;
	height: 24px;	
	background-color: #007696;
}
.report-table{
	text-align: center;
	font:normal 12px Open Sans;
	border-collapse: collapse;
	table-layout:fixed; 
	word-wrap:break-word; 
	width:100%; 
}

@media print{
	body{
		-ms-transform: rotate(270deg); /* IE 9 */ -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */ transform: rotate(270deg);
		 top: 1.5in;
        left: -1in;
	}
}

.report-table-td td{
	background-color: #007696;
}

.report-table, .report-table-td{
	border: 1px solid #bfbfbf;
}

@media print { 
	.report-header{		
		color: black;
		background-color: white;
	}
}

/*For Privileges - Start*/
.default-odd{
	background-color: #FFFFFF;
}
.default-header, .default-footer{
	font:normal 12px Open Sans;
	font-weight: bold;
}
.default-header{	
	color: #000000;
	height: 24px;
	line-height: 24px; 
}

.default-table{
	display:table;
	vertical-align:middle;
	text-align: center;
	font:normal 12px Open Sans;
	table-layout:fixed; 
	word-wrap:break-word; 
	width:100%; 
	
}
.default-table-td{
	display:table-cell;
    vertical-align: middle;
	height: 30px;
      line-height: 30px;
}
.td1{	background-color: #007696; }
.td2{	background-color: #251F4F; }
.td3{	background-color: #007696; }
.td4{	background-color: #251F4F; }
.td5{	background-color: #007696; }
.td6{	background-color: #251F4F; }
.td7{	background-color: #007696; }
.td8{	background-color: #251F4F; }

/*.td1{	background-color: #007696; }
.td2{	background-color: #fff0f2; }
.td3{	background-color: #effff6; }
.td4{	background-color: #edfaff; }
.td5{	background-color: #251F4F; }
.td6{	background-color: #fffaee; }
.td7{	background-color: #ffeef9; }
.td8{	background-color: #e3dec7; }
*/
/*For Privileges - End*/

/* Tooltip */
.flat-button-default.tooltip {
      position: absolute;
      width: 100px;
      height: 20px;
      line-height: 20px;
      padding: 10px;
      font-size: 12px !important;
	  font-weight: normal !important;
	  font-family: Open Sans;
      text-align: center;
      color: rgb(113, 157, 171);
      background: rgb(255, 255, 255);
      border: 4px solid rgb(255, 255, 255);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}
.flat-button-default.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #FFFFFF transparent transparent transparent;
      top: 44px;
      left: 50px;
}
.tooltip{
	position:absolute;
	z-index:1020;
	display:block;
	visibility:visible;
	padding:5px;
	font-size:11px;
	opacity:100;
	filter:alpha(opacity=100)
}
.tooltip.in{
	opacity:100;
	filter:alpha(opacity=100)
}
.tooltip.top{
	margin-top:-2px
}
.tooltip.right{
	margin-left:2px
}
.tooltip.bottom{
	margin-top:2px
}
.tooltip.left{
	margin-left:-2px
}
.tooltip.top .tooltip-arrow{
	bottom:0;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #808080
}
.tooltip.left .tooltip-arrow{
	top:50%;
	right:0;
	margin-top:-5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:5px solid #808080
}
.tooltip.bottom .tooltip-arrow{
	top:0;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #808080
}
.tooltip.right .tooltip-arrow{
	top:50%;
	left:0;
	margin-top:-5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:5px solid #808080
}
.tooltip-inner{
	max-width:200px;
	padding:3px 8px;
	color:#fff;
	font-size: 12px !important;
	font-weight: normal !important;
	font-family: Open Sans;
	text-align:center;
	text-decoration:none;
	background-color:#808080;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.tooltip-arrow{
	position:absolute;
	width:0;
	height:0
}

.adhoc-win-promp-select table{
	width: 100%;
}

/* Selection */
::selection{
	background:#73CAEA;
	color:#FFF
}

/* Mozilla based browsers */
::-moz-selection {
background-color: #73CAEA;
color: #FFF;
}

/* Works in Opera */
::-o-selection {
background-color: #73CAEA;
color: #FFF;
}
::-ms-selection {
background-color: #73CAEA;
color: #FFF;
}

/* Works in Internet Explorer */
::-webkit-selection {
background-color: #73CAEA;
color: #FFF;
}

.tilepic {
    position: relative; 
    transition: all 300ms ease 0s; 
    height: 100%; 
    top: 0%;
}

.tiletooltip {
    position: absolute;
    width: 100%;
    display: block;
    left: 0px;
    transition: all 300ms ease 0s;
    height: 100%;
    bottom: -100%;
    padding:10px;
}

.tooltipbutton {
    height:26px;
    width:26px;
    position:absolute;
    top:0px;
    right:0px;
}

.tooltipclose {
    height:26px;
    width:26px;
    position:absolute;
    top:10px;
    right:10px;
}

.tooltiptext {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 10px;
    left:0;
    width:100%;
}

.formbuttons {
    padding: 0px 0px 10px 0px;
}
.x-toolbar-selection-record{
	cursor: default;
}
.x-toolbar-selection-text{
	cursor: pointer;
	color: blue;
}
.x-toolbar-selection-text:hover{
	text-decoration: underline;
}
.x-toolbar-sync-status-text{
	float: right;
}
.grid-form-red{
	color: red;
	margin-top: 4px;
}