html {
	position: relative;
	min-height: 100%;
}
body {
	color: #232323;
	/* Margin bottom by footer height */
	margin-bottom: 150px;
}
a{
	cursor: pointer;
	color: #534f71;
}
a:hover{
	color: #534f71;
}
input[type=number]{
	-moz-appearance:textfield;
	text-align: right;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
.input-group-btn:last-child > .btn{
	z-index: 0;
}
.form-control{
	font-size: 16px;
	padding: 6px 12px;
}
.header{
	margin-top: 20px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 150px;
	background-color: #251f4f;
	color: #fff;
	font-family: 'Montserrat',Helvetica;
}
.footer .container .title{
	font-size: 22px;
	padding-top: 25px;
}
.footer .container .content{
	font-family: 'Muli';
	font-size: 12px;
}
.no-gutters{
	padding-left: 0px;
	padding-right: 0px;
}
.row.no-gutters{
	margin-left: 0px;
	margin-right: 0px;
}
.text-center{
	text-align: center;
}
.content-white{
	width: 100%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
}
.donor-content-title{
	font-size: 22px;
	font-family: 'Muli-Bold',Helvetica;
}
.donor-content-subtitle{
	font-size: 16px;
	font-family: 'Muli-Bold',Helvetica;
}
.donor-content-regular{
	font-size: 16px;
	font-weight: normal;
	font-family: 'Muli',Helvetica;
}
.donor-content-regular-bold{
	font-size: 14px;
	font-weight: normal;
	font-family: 'Muli-Bold',Helvetica;
}
.social-header {
	float: right;
}
.social-header a.social-link {
	display: block;
	height: 32px;
	width: 32px;
	background-color: #1c244e;
	border-radius: 100%;
	float: left;
	background-repeat: no-repeat;
	background-size: 32px;
}
.social-header a.social-link + a.social-link {
	margin-left: 5px;
}
.span-link{
	text-decoration: underline;
	cursor: pointer;
}
.bill-checkbox{
	font-size: 14px !important;
	color: black !important;
}
.navbar {
	min-height: 40px;
}
.navbar-default .navbar-nav > li > a{
	font-family: 'Montserrat',Helvetica;
	font-size: 16px;
	color: #fff;
}
.nav > li > a{
	padding: 10px 5px;
	line-height: 20px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #534f71;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: #534f71;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	background-color: #534f71;
}
.navbar-default .dropdown-menu{
	background-color: #534f71;
}
.navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > .active > a, .navbar-default .dropdown-menu > .active > a:hover {
	background-color: #1c244e;
}
.navbar-default{
	background-color: #1c244e;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
	background-color: #534f71;
}
.nav.navbar-nav > li > a{
	margin-right: 5px;
}
.nav.navbar-nav.navbar-right > li > a{
	margin-left: 5px;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
@media (min-width: 979px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block;
	}
}
.caret{
	margin-left: 0;
	margin-top: -2px;
}
.dropdown-menu > li > a{
	padding: 6px 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a:focus{
	font-family: 'Montserrat',Helvetica;
	font-size: 16px;
}
.navbar{
	margin-bottom: 0;
}
.bootstrap-select .btn {
    font-size: 16px;
	padding: 5px 12px;
	color: grey !important;
}
.pg-title{
	font-size: 36px; 
	font-weight: bold; 
	font-family: 'Montserrat-Bold',Helvetica; 
	color: #1c244e;
}
.pg-title-content{
	font-size: 16px; 
	font-weight: bold; 
	font-family: 'Montserrat',Helvetica;
	color: #1c244e;
}
.blackcurrant{
	color: #1c244e;
}
.donor-table{
	width: 100%; background-color: #f3f3f3; font-family: 'Muli', Helvetica;
}
.donor-table .header{
	font-family: 'Muli-Bold', Helvetica; text-align: center; font-size: 18px; font-weight: bold;
}
.donor-table .header td{
	padding: 8px;
	cursor: pointer;
	background-color: #ebebeb;
}
.donor-table .header td:hover, .donor-table .header td.active{
	background-color: #f3f3f3;
}
.donor-table label{
	font-size: 12px;
	color: grey;
}
.donor-table input[type="radio"]{
	margin-top: 5px;
}
.donor-table .radio-inline{
	padding-right: 10px;
}
.donor-center-link{
	text-align: center;
	font-family: 'Muli',Helvetica;
	font-size: 14px;
	padding: 10px;
	padding-top: 20px;
}
.donor-center-link a{
	margin: 10px;
	cursor: pointer;
}
.donor-checkbox{
	display: block;
	vertical-align: middle;
	padding-left: 20px;
	cursor: pointer;
	font-size: 14px !important; 
	color: black !important;
}
.donor-checkbox input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
}
.donor-radio-bold{
	display: block;
	vertical-align: middle;
	padding-left: 20px;
	cursor: pointer;
	font-family: 'Muli-Bold',Helvetica;
	font-size: 16px !important; 
	color: black !important;
}
.donor-radio-bold input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
}
.donor-checkbox-inline{
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
	margin-bottom: 0;
	position: relative;
	cursor: pointer;
	font-size: 14px !important; 
	color: black !important;
}
.donor-checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
}
.donor-paragraph-support {
	font-size: 14px;
	margin: 0px;
}
.container.ifes-content{
	padding-top: 30px;
}
.table.donor-table-content{
	border-bottom: 0px;
}
.table.donor-table-content > thead > tr > th {
	border-bottom: 0px !important;
	padding: 0px 8px 8px 0px;
	font-size: 16px;
}
.table.donor-table-content > thead > tr > th, .table.donor-table-content > tbody > tr > th,
 .table.donor-table-content  > tfoot > tr > th, .table.donor-table-content > thead > tr > td,
 .table.donor-table-content > tbody > tr > td, .table.donor-table-content > tfoot > tr > td {
	border-top: 0px;
	padding: 0px 8px 8px 0px;
	font-size: 16px;
}
.table > tbody > tr > td{
	border-top: 0px;
}
.table > thead > tr > th {
	font-family: 'OpenSans',Helvetica;
	font-weight: normal;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd !important;
}
.modal-content.donor-custom{
	background-color: #f3f3f3;
}
.modal-header.donor-custom{
	font-family: 'Muli-Bold',Helvetica;
	text-align: center;
	text-transform: none;
	padding: 0px;
}
.modal-title.donor-custom{
	font-family: 'Muli-Bold',Helvetica;
	font-size: 22px;
	font-weight: 600;
}
.modal-subtitle {
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	padding-bottom: 10px;
	font-family: 'Muli',Helvetica;
}
.modal-body.donor-custom{
	padding: 0px;
}
.modal-footer.donor-custom{
	border-top: 0px;
}
p.subscription-modal{
	font-family: 'Muli-Bold',Helvetica;
	font-size: 18px;
	font-weight: 600;
	margin: 0px;
}
.subscription-form{
	font-family: 'Muli-bold';
	font-size: 14px;
	color: grey;
}
.currency-box{
	font-family: 'Muli',Helvetica;
}
.currency-box .dropdown-toggle{
	background-color: #eeeeee !important;
	color: #6f6f6f !important;
	border: 1px solid #cccccc !important;
}
@-moz-document url-prefix() {
	.currency-box .dropdown-toggle{
		padding-bottom: 7px;
	}
}
.currency-box .dropdown-menu{
	min-width: 60px;
}
.input-group-btn:last-child > .btn{
	z-index: 0;
}
.input-group{
	width: 100%;
}
.bootstrap-select .btn-default, .bootstrap-select .btn-default:hover, .bootstrap-select .btn-default:focus, .bootstrap-select.open > .dropdown-toggle.btn-default, .bootstrap-select.open > .dropdown-toggle.btn-default:hover{
	background-color: #ffffff;
	color: #222222;
	border: 1px solid #cccccc;
}
.btn-ifes{
	font-family: 'Muli',Helvetica;
	width: 150px;
	background-color: #cdcecd;
	color: #000000;
}
.btn-ifes:hover, .btn-ifes:focus{
	background-color: #464646;
}
.btn-ifes:active{
	background-color: #000000 !important;
}
.btn-ifes-active{
	color: #ffffff !important;
	background-color: #464646 !important;
}
.quick-links a{
	font-family: 'Muli-Bold',Helvetica ;
	color: black;
}
.payment-form label{
	font-size: 12px;
	color: grey;
}
/*** Stripe Elements - Start ***/
.StripeElement {
  background-color: white;
  padding: 4px 12px;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-info {
	display: block;
	font-weight: 400;
	text-align: left;
	font-size: 14px;
}

.stripe-error {
	text-align: left;
    height: 20px;
    color: #fa755a;
	font-family: 'Muli', Helvetica;
	font-size: 16px;
}

/*** Stripe Elements - End ***/
.row-eq-height { /*use with overflow: hide; on parent div */
  display:         flex;
}
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid grey; 
  float: left;
  margin-right: 15px;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left: 10px solid grey; 
  display: inline-block;
  margin-left: 15px;
  margin-top: -2px;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin: 10px 0;
	white-space: nowrap;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.clearfix:after,.radio-option:after{visibility:hidden;display:block;font-size:0;content:'.';clear:both;height:0}
* html .clearfix,* html .radio-option{zoom:1}
*:first-child+html .clearfix,*:first-child+html .radio-option{zoom:1}
.english-text{direction:ltr;text-align:left}
.recovery .stacked-label{line-height:18px;margin-bottom:8px}
.recovery .radio-option input[type="radio"]{float:left;margin-top:1px}
.recovery .radio-option .radio-label{margin-left:22px;display:block;line-height:18px}
.recovery .hideable-box{margin-top:10px;margin-left:22px;line-height:18px}
.recovery .hideable-wrapper{overflow:hidden;-ms-transition:all 500ms ease-in-out;-moz-transition:all 500ms ease-in-out;-o-transition:all 500ms ease-in-out;-webkit-transition:all 500ms ease-in-out;transition:all 500ms ease-in-out}
.recovery img#google-play{position:relative;left:3px;top:3px}
.recovery .android-option img{margin-right:4px}
.recovery .android-option label.radio-label span{vertical-align:top}
.recovery .android-app>*{display:inline-block;vertical-align:middle;max-width:410px}
.recovery .android-app>div{vertical-align:top}.recovery .android-app h2{font-size:17px}
.recovery .android img{position:relative;left:100px}.recovery .timer>*{vertical-align:middle}
.recovery .timer canvas{margin-right:5px}.recovery hr{margin-top:25px;border:1px solid #ebebeb}
.recovery span#phone_wrapper{display:inline-block}
.recovery .disabledtext{color:#b8b8b8}
.recovery .hideable-box div{margin-top:5px;margin-bottom:5px}
.recovery .hideable-box .left{margin-right:5px;float:left}
.recovery .hideable-box .right{margin-left:0px;float:left}
.recovery .hideable-box .confirmation-box{margin-bottom:5px}
.recovery .hideable-box .secret-question-text{font-weight:bold}
.recovery .recovery-submit{margin-top:20px}
.recovery .additional-recovery-option-text{margin-left:20px}
.recovery .confirmation-hint-text{white-space:nowrap}
.tool-tip-bubble{width:255px;line-height:18px}
.big-tool-tip-bubble{width:280px;line-height:18px}
.internal-header{font-size:1.4em;position:absolute;color:red;font-weight:bold;text-align:center;left:50%;margin-left:-5em;margin-top:2px}
input[type="radio"]{cursor: pointer}

/* Selection */
::selection{
	background:#73CAEA;
	color:#FFF
}

/* Mozilla based browsers */
::-moz-selection {
background-color: #73CAEA;
color: #FFF;
}

/* Works in Opera */
::-o-selection {
background-color: #73CAEA;
color: #FFF;
}
::-ms-selection {
background-color: #73CAEA;
color: #FFF;
}

/* Works in Internet Explorer */
::-webkit-selection {
background-color: #73CAEA;
color: #FFF;
}