@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Regular.eot');
	src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Regular.woff') format('woff'),
		url('Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('Montserrat-Bold.eot');
	src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Bold.woff') format('woff'),
		url('Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	src: url('Muli-Regular.eot');
	src: url('Muli-Regular.eot?#iefix') format('embedded-opentype'),
		url('Muli-Regular.woff') format('woff'),
		url('Muli-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Muli-Bold';
	src: url('Muli-Bold.eot');
	src: url('Muli-Bold.eot?#iefix') format('embedded-opentype'),
		url('Muli-Bold.woff') format('woff'),
		url('Muli-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('OpenSans-Regular.eot');
	src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Regular.woff') format('woff'),
		url('OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('OpenSans-Bold.eot');
	src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Bold.woff') format('woff'),
		url('OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
