html {
	position: relative;
	min-height: 100%;
}
body {
	color: #232323;
	/* Margin bottom by footer height */
	margin-bottom: 150px;
	font-family: 'Muli', Helvetica;
}
a{
	cursor: pointer;
	color: #534f71;
}
a:hover{
	color: #534f71;
}
input[type=number]{
	-moz-appearance:textfield;
	text-align: right;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
.input-group-btn:last-child > .btn{
	z-index: 0;
}
.input-group{
	width: 100%;
}
.form-control{
	font-size: 16px;
	padding: 0px 12px; /*TEST: change from 6px to 0px */
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 150px;
	background-color: #251f4f;
	color: #fff;
	font-family: 'Montserrat',Helvetica;
}
.footer .container .title{
	font-size: 22px;
	padding-top: 25px;
}
.footer .container .content{
	font-family: 'Muli';
	font-size: 12px;
}	
.navbar {
	min-height: 40px;
}
.navbar-default .navbar-nav > li > a{
	font-family: 'Montserrat',Helvetica;
	font-size: 16px;
	color: #fff;
}
.nav > li > a{
	padding: 10px 5px;
	line-height: 20px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #534f71;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: #534f71;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	background-color: #534f71;
}
.navbar-default .dropdown-menu{
	background-color: #534f71;
}
.navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > .active > a, .navbar-default .dropdown-menu > .active > a:hover {
	background-color: #1c244e;
}
.navbar-default{
	background-color: #1c244e;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
	background-color: #534f71;
}
.nav.navbar-nav > li > a{
	margin-right: 5px;
}
.nav.navbar-nav.navbar-right > li > a{
	margin-left: 5px;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
@media (min-width: 979px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block;
	}
}
.caret{
	margin-left: 0;
	margin-top: -2px;
}
.dropdown-menu > li > a{
	padding: 6px 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a:focus{
	font-family: 'Montserrat',Helvetica;
	font-size: 16px;
}
.navbar{
	margin-bottom: 0;
}
.carousel{
	height: 300px;
	overflow: hidden;
	z-index: -10;
	margin-bottom: -280px;
}
.carousel .item{
	height: 300px;
}
.carousel-inner > .item > img{
	width: 100%;
	max-width: 2500px;
	height: auto;
	margin: 0 auto;
}
.carousel-inner img{
	margin: auto;
	opacity: 0.5;
}
.carousel-indicators .active{
	width: 8px;
	height: 8px;
	opacity: 0.5;
}
.carousel-indicators li{
	width: 7px;
	height: 7px;
	background-color: #ffffff;
}
@media screen and (min-width: 768px) {
	.carousel-indicators{
		bottom: 10px;
	}
}
.page-title{
	font-size: 36px; 
	font-weight: bold; 
	font-family: 'Montserrat-Bold',Helvetica; 
	color: #1c244e;
}
.page-title-content{
	font-size: 16px; 
	font-weight: bold; 
	font-family: 'Montserrat',Helvetica;
	color: #1c244e;
}
.paddingless{
	padding-left: 0;
	padding-right: 0;
}
.currency-box{
	font-family: 'Muli',Helvetica;
}
.currency-box .dropdown-toggle{
	background-color: #eeeeee !important;
	color: #6f6f6f !important;
	border: 1px solid #cccccc !important;
}
@-moz-document url-prefix() {
	.currency-box .dropdown-toggle{
		padding-bottom: 7px;
	}
}
.currency-box .dropdown-menu{
	min-width: 60px;
}
.btn-ifes{
	font-family: 'Muli',Helvetica;
	background-color: #cdcecd;
	color: #000000;
}
.btn-ifes:hover, .btn-ifes:focus{
	background-color: #464646;
}
.btn-ifes:active{
	background-color: #000000 !important;
}
.btn-ifes-active{
	color: #ffffff !important;
	background-color: #464646 !important;
}

.btn-add-gift{
	font-family: 'Muli',Helvetica;
	background-color: #cdcecd;
	color: #000000;
}
/*** Register Page - Start ***/
.register-title{
	font-family: 'Muli-Bold', Helvetica; text-align: left; font-size: 22px; font-weight: bold;
}
.label-register{
	font-size: 12px;
	color: grey;
}
/*** Register Page - End ***/

/*** Giving Page - Start ***/
.gift-upper-box{
	width: 344px; padding: 20px; background-color: rgba(255, 255, 255, 0.8); position: absolute; right: 16px;

}
.btn-add-gift:hover, .btn-add-gift:focus{
	background-color: #464646;
}
.btn-add-gift:active{
	background-color: #000000 !important;
}
.gift-center-link{
	text-align: center;
	font-family: 'Muli',Helvetica;
	font-size: 14px;
	padding: 10px;
	padding-top: 20px;
}
.gift-center-link a{
	margin: 10px;
	cursor: pointer;
}
.gift-title{
	font-family: 'Muli-Bold', Helvetica; text-align: center; font-size: 22px; font-weight: bold;
}
.gift-catalog-table{
	width: 100%; background-color: #ebebeb; font-family: 'Muli', Helvetica; font-size: 16px;
}
.gift-catalog-table .header{
	font-family: 'Muli-Bold', Helvetica; text-align: center; font-size: 18px; font-weight: bold;
}
.gift-catalog-table .header td{
	padding: 8px;
	cursor: pointer;
	background-color: #f3f3f3;
}
.gift-catalog-table .header td:hover, .gift-catalog-table .header td.active{
	background-color: #ebebeb;
}
.gift-catalog-table label{
	font-size: 16px;
}
.gift-catalog-table input[type="radio"]{
	margin-top: 5px;
}
.gift-catalog-table .radio-inline{
	padding-right: 10px;
}
.gift-catalog-linebreak{
	margin-top: 25px; margin-bottom: 25px; background-color: #fff; border-top: 2px dashed #8c8b8b;
}
.gift-catalog-default-search-container{
	margin-top: 20px; height: 350px; background-color: #ffffff; border: 1px solid #cccccc; padding: 10px; overflow: hidden;
}
.gift-catalog-default-search-label{
	font-weight: bold; font-size: 12px;
}
.gift-catalog-default-search-result{
	height: 300px; overflow-y: auto;
}
.gift-catalog-default-search-result .result-container{
	border-top: 1px solid #cccccc; padding: 15px 0; height: 65px;
}
.gift-catalog-default-search-result .result-container .result-label{
	padding-left: 0; padding: 6px 0; font-family: 'Muli-Bold',Helvetica;
}
.gift-catalog-default-search-result .result-container .result-form{
	padding-right: 0;
}
.gift-list-table{
	background-color: #ebebeb; width: 100%; font-family: 'Muli', Helvetica; font-size: 16px;
}
.gift-list-table .gift-title,
.gift-payment-table .gift-title{
	padding-top: 20px;
}
.gift-list-master{
	height: auto; min-height: 250px; font-family: 'Muli', Helvetica; font-size: 16px; padding: 5px 24px;
}
.gift-list-label-recurring{
	float: right; line-height: 2.2; padding-right: 10px;
}
.gift-list-save-container{
	padding-right: 0; text-align: right; clear:both; line-height: 2;
}
.gift-total{
	padding: 5px 25px; font-family: 'Muli-Bold', Helvetica; text-align: right; font-size: 18px; font-weight: bold;
}
.gift-list-login{
	padding: 5px 24px; text-align: right;
}
.gift-list-login .login-container{
	max-width: 450px; padding-top: 10px; float: right;
}
.gift-payment{
	height: auto; background-color: #ebebeb; margin-top: 50px; padding-bottom: 20px;
}
.gift-list-container{
	font-family: 'Muli-Bold',Helvetica; height: 110px; border-bottom: 1px solid #cccccc;
}
.gift-list-input-comment{
	font-family: 'Muli', Helvetica;
}
.gift-list-input-anonymous{
	margin-top: 4px !important;
}
.gift-list-view-comment{
	padding: 6px 0; color: #646464;
}
.gift-list-view-anonymous{
	padding: 6px 0;
	display: none;
}
.gift-list-datepicker{
	float: right; font-family: 'Muli', Helvetica; width: 100px;
}
.gift-list-view-recurring{
	padding: 6px 0;
}
.gift-extra-aid-datepicker .form-control{
	font-size: 14px;
}
.gift-payment-table{
	width: 600px; max-width: 600px; margin: auto;
}
.gift-payment .gift-total{
	padding: 5px 15px;
}
.gift-payment .checkbox-inline{
	font-size: 14px; font-family: 'Muli', Helvetica;
}
.gift-payment .radio-inline{
	font-size: 14px; font-family: 'Muli', Helvetica;
}
.gift-payment .checkbox-inline input[type=checkbox],
.gift-payment .radio-inline input[type=radio]{
	margin-top: 4px;
}
.gift-newsletter .checkbox-inline input[type=checkbox],
.gift-newsletter .radio-inline input[type=radio]{
	margin-top: 3px;
}
#gift-echeck-form td,
#gift-cc-form-select td,
#gift-cc-form-new td{
	text-align: center; padding-top: 20px;
}
#gift-create-account-form-1 td,
#gift-cc-form-process-fee td,
#gift-payment-us-receipt td,
#gift-payment-save-details td{
	padding: 12px 15px;
}
.gift-newsletter{
	height: auto; margin-top: 20px;
	font-size: 14px; font-family: 'Muli', Helvetica;
}
.gift-newsletter table{
	width: 600px; max-width: 600px; margin: auto;
}
.gift-newsletter label, .gift-newsletter td{
	font-size: 14px; font-family: 'Muli', Helvetica;
}
.gift-newsletter td.gift-total{
	font-size: 18px; font-family: 'Muli-Bold', Helvetica;
	padding: 3px 15px;
}
.gift-newsletter td{
	padding: 12px 15px;
}
.gift-newsletter-us-footer td{
	padding: 5px;
	width: 100%;
}
.gift-newsletter-us-footer img{
	width: 60px;
}
#gift-uk-extra-aid-form{
	text-align: justify; padding-top: 10px; font-size: 14px; display: none;
}
.currency-box .btn-ifes{
	margin-left: 10px !important;
}
/*** Giving Page - End ***/

.btn-search{
	font-family: 'Muli',Helvetica;
	background-color: #cdcecd;
	color: #000000;
	border: 1px solid #cccccc !important;
}
.btn-search:hover, .btn-search:focus{
	background-color: #464646;
}
.btn-search:active{
	background-color: #000000 !important;
}
@-moz-document url-prefix() {
	.btn-search{
		padding-bottom: 7px;
	}
}
.btn-ifes{
	font-family: 'Muli',Helvetica;
	background-color: #cdcecd;
	color: #000000;
}
.btn-ifes:hover, .btn-ifes:focus{
	background-color: #464646;
}
.btn-ifes:active{
	background-color: #000000 !important;
}

.bootstrap-select{
	font-family: 'Muli', Helvetica;
	font-size: 16px;
}
.bootstrap-select .btn-default, .bootstrap-select .btn-default:hover, .bootstrap-select .btn-default:focus, .bootstrap-select.open > .dropdown-toggle.btn-default, .bootstrap-select.open > .dropdown-toggle.btn-default:hover{
	background-color: #ffffff;
	color: #222222;
	border: 1px solid #cccccc;
}
.bootstrap-select .dropdown-menu > .active > a, .bootstrap-select .dropdown-menu > .active > a:hover, .bootstrap-select .dropdown-menu > .active > a:focus{
	background-color: #cdcecd;
}

.p-loading-container{
	z-index: 99;
	position: absolute;
	top: 0;
	left: 0;
}
.selectpicker{
	font-family: 'Muli', Helvetica; 
}

.bootstrap-select .btn{
	font-size: 16px;
	padding: 5px 12px;
}