html{
	position: relative;
	min-height: 100%;
}
body{
	font-family: Open Sans !important, Arial;
	padding-top: 120px;
	margin-bottom: 55px;
}
.navbar-fixed-top{
	top: 75px;
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;

	height: 55px;
	background-color: #007696;
	color: #ffffff;
	padding: 12px;
	font-size: 12px;
}
@media (min-width: 992px) {
	.footer{
		height: 40px;
	}
	body{
		margin-bottom: 40px;
		padding-top: 95px;
	}
	.navbar-fixed-top{
		top: 50px;
	}
	.header-container{
		height: 50px;
	}
}
.footer a{
	color: #ffffff;
	cursor: pointer;
}
.footer span, .footer a{
	margin-right: 12px;
}
.navbar-default{
	background-color: #007696;
	border: 0;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand{
	color: #ffffff;
	cursor: pointer;
	font-family: Montserrat;
}
.navbar-default .navbar-brand:hover{
	background-color: #00adef;
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: #00adef;
	color: #ffffff;
}
.navbar-default .dropdown-menu{
	background-color: #ffffff;
}
.navbar-custom{
	border-left: 1px solid #3f66a3;
}
.navbar-custom > li{
	border-right: 1px solid #3f66a3;
}

.navbar-default .dropdown-menu > li > a, .navbar-default .dropdown-menu > li > a:focus {
	color: #000000;
}
.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a:focus {
	font-size: 12px;
}
.navbar-default .dropdown-menu > li > a:hover,
.navbar-default .dropdown-menu > .active > a,
.navbar-default .dropdown-menu > .active > a:hover {
	background-color: #00adef;
	color: #ffffff;
}

.navbar-default .navbar-custom > .active > a, .navbar-default .navbar-custom > .active > a:hover, .navbar-default .navbar-custom > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	background-color: #00adef;
}

.navbar-default .navbar-nav > .open > ul > li.open a.dropdown-toggle{
	background-color: #00adef;
	color: #ffffff;
}

.form-control, .btn{
	border-radius: 0;
}

.form-horizontal .form-group{
	margin-left: 0;
	margin-right: 0;
}
.btn-select-custom{
	font-size: 12px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
.open .btn-select-custom{
	border: 1px solid #66afe9;
}
.glyphicon{
	top: 8px;
}
.form-group.required .control-label:after{
	content: " *";
	color: red;
}
.help-block{
	font-size: 10px;
}
.dataTables_length > label > select.input-sm{
	height: 28px;
	padding: 4px 8px;
}
div.dataTables_wrapper div.dataTables_length select{
	width: 60px;
}
button.dt-button, div.dt-button, a.dt-button{
	border-radius: 0;
}
a{
	cursor: pointer;
}
textarea{
	resize: none;
}
.content-label{
	padding-top: 9px;
	margin-bottom: 0;
	text-align: left;
	width: 100%;
}
.header-container{
	padding: 10px 15px;
	height: 75px;
}
.header-required{
	font-size: 10px;
}
.header-required:before{
	content: "* ";
	color: red;
}

.bootstrap-dialog .modal-header{
	border-radius: 0;
}
.bootstrap-dialog .bootstrap-dialog-title, .bootstrap-dialog .bootstrap-dialog-message{
	font-size: 12px;
}
.bootstrap-dialog.type-primary .modal-header{
	background-color: #007696;
}
.bootstrap-dialog-button-icon glyphicon{
	top: 0;
}
.modal .close{
	color: #ffffff;
}
.input-group-addon{
	padding: 0 14px;
}
.input-group-addon .glyphicon{
	top: 0;
}

td.dt-text-right{
	text-align: right;
}
td.dt-text-center{
	text-align: center;
}
.dataTables_wrapper, .container-view, .container-edit{
	margin-bottom: 30px;
}
.noty-error-link{
	color: white;
	text-decoration: underline;
}
.noty-error-link:hover{
	color: white;
	font-weight: bold;
}
.privacy-bullet{
	margin-left: -28px;
}
.privacy-bullet li{
	padding-left: 15px;
}
.col-footer-privacy{
	text-align: left;
}
.col-footer-copyright{
	text-align: right;
	cursor: default;
}
.col-header-right{
	text-align: right;
}
@media(max-width: 667px){
	.privacy-bullet{
		margin-left: -20px;
	}
	.col-footer-copyright, .col-footer-privacy, .header-container, .col-header-right{
		text-align: center;
	}
	.col-header-right{
		padding: 12px 0;
	}
	
	body{
		padding-top: 95px;
	}
	.navbar-fixed-top{
		top: 50px;
	}
	.header-container{
		height: 50px;
	}
}

.p-custom-loader,
.p-custom-loader:before,
.p-custom-loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.p-custom-loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.p-custom-loader:before,
.p-custom-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.p-custom-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.p-custom-loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
