html {
	position: relative;
	min-height: 100%;
}
body {
	color: #232323;
	/* Margin bottom by footer height */
	margin-bottom: 150px;
}
a{
	cursor: pointer;
	color: #534f71;
}
a:hover{
	color: #534f71;
}
input[type=number]{
	-moz-appearance:textfield;
	text-align: right;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
.input-group-btn:last-child > .btn{
	z-index: 0;
}
.form-control{
	font-size: 16px;
	padding: 6px 12px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 150px;
	background-color: #251f4f;
	color: #fff;
	font-family: 'Montserrat',Helvetica;
}
.footer .container .title{
	font-size: 22px;
	padding-top: 25px;
}
.footer .container .content{
	font-family: 'Muli';
	font-size: 12px;
}	
.navbar {
	min-height: 40px;
}
.navbar-default .navbar-nav > li > a{
	font-family: 'Montserrat',Helvetica;
	font-size: 16px;
	color: #fff;
}
.nav > li > a{
	padding: 10px 5px;
	line-height: 20px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #534f71;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: #534f71;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	background-color: #534f71;
}
.navbar-default .dropdown-menu{
	background-color: #534f71;
}
.navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > .active > a, .navbar-default .dropdown-menu > .active > a:hover {
	background-color: #1c244e;
}
.navbar-default{
	background-color: #1c244e;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
	background-color: #534f71;
}
.nav.navbar-nav > li > a{
	margin-right: 5px;
}
.nav.navbar-nav.navbar-right > li > a{
	margin-left: 5px;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
@media (min-width: 979px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block;
	}
}
.caret{
	margin-left: 0;
	margin-top: -2px;
}
.dropdown-menu > li > a{
	padding: 6px 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a:focus{
	font-family: 'Montserrat',Helvetica;
	font-size: 16px;
}
.navbar{
	margin-bottom: 0;
}
.carousel{
	height: 300px;
	overflow: hidden;
	z-index: -10;
	margin-bottom: -280px;
}
.carousel .item{
	height: 300px;
}
.carousel-inner > .item > img{
	width: 100%;
	max-width: 2500px;
	height: auto;
	margin: 0 auto;
}
.carousel-inner img{
	margin: auto;
	opacity: 0.5;
}
.carousel-indicators .active{
	width: 8px;
	height: 8px;
	opacity: 0.5;
}
.carousel-indicators li{
	width: 7px;
	height: 7px;
	background-color: #ffffff;
}
@media screen and (min-width: 768px) {
	.carousel-indicators{
		bottom: 10px;
	}
}
.pg-title{
	font-size: 36px; 
	font-weight: bold; 
	font-family: 'Montserrat-Bold',Helvetica; 
	color: #1c244e;
}
.pg-title-content{
	font-size: 16px; 
	font-weight: bold; 
	font-family: 'Montserrat',Helvetica;
	color: #1c244e;
}
.currency-box{
	font-family: 'Muli',Helvetica;
}
.currency-box .dropdown-toggle{
	background-color: #eeeeee !important;
	color: #6f6f6f !important;
	border: 1px solid #cccccc !important;
	padding-bottom: 7px;
}
.currency-box .dropdown-menu{
	min-width: 60px;
}
.btn-search{
	font-family: 'Muli',Helvetica;
	background-color: #cdcecd;
	color: #000000;
	border: 1px solid #cccccc !important;
	padding-bottom: 7px;
}
.btn-search:hover, .btn-search:focus{
	background-color: #464646;
}
.btn-search:active{
	background-color: #000000 !important;
}
.btn-add-gift{
	font-family: 'Muli',Helvetica;
	background-color: #cdcecd;
	color: #000000;
}
.btn-add-gift:hover, .btn-add-gift:focus{
	background-color: #464646;
}
.btn-add-gift:active{
	background-color: #000000 !important;
}
.giving-table{
	width: 100%; background-color: #ebebeb; font-family: 'Muli', Helvetica;
}
.giving-table .header{
	font-family: 'Muli-Bold', Helvetica; text-align: center; font-size: 18px; font-weight: bold;
}
.giving-table .header td{
	padding: 8px;
	cursor: pointer;
	background-color: #f3f3f3;
}
.giving-table .header td:hover, .giving-table .header td.active{
	background-color: #ebebeb;
}
.giving-table label{
	font-size: 16px;
}
.giving-table input[type="radio"]{
	margin-top: 5px;
}
.giving-table .radio-inline{
padding-right: 10px;
}
.giving-center-link{
	text-align: center;
	font-family: 'Muli',Helvetica;
	font-size: 14px;
	padding: 10px;
	padding-top: 20px;
}
.giving-center-link a{
	margin: 10px;
	cursor: pointer;
}